<!DOCTYPE html>
<html>
<head>
<title>Sinatra Hangman</title>
</head>
<body>
<div class="top"> 
<h1> </h1> 
</div>
 
<p><%=@the_word%></p>
<form>
<input type ='text' name='letter'/>
<input type ='submit' value='Guess'/>
</form>
</body>
</html>