<!DOCTYPE html>
<html>
<head>
<title>Sinatra Hangman</title>
</head>
<body>
<div class="top"> 
<h1> </h1> 
</div>
<h2> You Guessed it the word is:</h2>
<h3><%= @the_word.join(" ")%> </h3>
	

<form method="get" action="/">
    <input type="submit" value="Play Again!"/>
  </form>
</body>
</html>